.CodeMirror {
    height: 60vh;
}

.vl {
    margin-left: 1rem;
    margin-right: 1rem;
    border-left: 1px solid whitesmoke;
}

.var-card {
    display: block;
    height: 40vh;
    overflow: auto;
}

.help-card {
    display: block;
    height: 20vh;
}