{% if datum.type == 'text' %}
<div class="row">
    <div class="col-lg">
        <h6>{{ datum.key }}</h6>
    </div>
    <div class="col-lg">
        <div class="float-right">{{ datum.value }}</div>
    </div>
</div>
{% elif datum.type == 'image' %}
<div class="row">
    <div class="col-lg-12">
        <h6>{{ datum.caption }}</h6>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img src="{{ datum.value }}" height={{ datum.height }} width={{ datum.width }}>
    </div>
</div>
{% elif datum.type == 'ratio' %}
<div class="row">
    <div class="col-lg">
        <h6>{{ datum.key }}</h6>
    </div>
    <div class="col-lg">
        <div class="progress">
            <div class="progress-bar" role="progressbar"
                 style="width: {{ datum.value_ratio }}">{{ datum.value_text }}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-12">
        <div class="text-warning">Unsupported datum type.</div>
    </div>
</div>
{% endif %}