{% if datum.type == 'text' %}
<div class="row">
    <div class="col-lg-4">
        <span class="badge badge-default">{{ datum.key }}</span>
    </div>
    <div class="col-lg-8">
        <div class="pull-right">{{ datum.value }}</div>
    </div>
</div>
{% elif datum.type == 'image' %}
<div class="row">
    <div class="col-lg-12">
        <span class="badge badge-default">{{ datum.caption }}</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img src="{{ datum.value }}" height={{ datum.height }} width={{ datum.width }}>
    </div>
</div>
{% elif datum.type == 'ratio' %}
<div class="row">
    <div class="col-lg-4">
        <span class="badge badge-default">{{ datum.key }}</span>
    </div>
    <div class="col-lg-8">
        <div class="progress">
            <div class="progress-bar" role="progressbar"
                 style="width: {{ datum.value_ratio }}">{{ datum.value_text }}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-12">
        <div class="text-warning">Unsupported datum type.</div>
    </div>
</div>
{% endif %}